
body {
    font-family: "Open Sans", sans-serif;
    /* background: #f6f9ff; */
    background-color: aliceblue;
    color: #444444;
    font-family: 'Roboto', serif;
}

.libreFont {
    font-family: "Libre Baskerville";
    color: #0b5ed7;
    font-weight: bolder;
    font-style: italic;
    font-size: 4em;
}

.error-msg {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"] ~ .error-msg {
    display: block;
}

.loginContainer, .signUpContainer {
    height: 90vh; 
    display: flex;
    margin: auto; 
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.signUpCenter, .logInCenter {
    margin: auto;
}

.signUpCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.signUpButton {
    width: 12em;
    align-self: center;
}


#day, #month, #year {
    text-align: center;
}

#day, #month {
    width: 3.5em;
}

#year { 
    width: 5em;
}

/* .loginContainer {
    width: 90%;
    height: 20em;
    border: "solid 1px";
    background-color: beige;
    margin: auto;
}

.loginForm {
    width: 20em;
    height: auto;
    padding: 3em 1em; 
    background-color: whitesmoke;
    border: gray;
    border-style: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
        
} */

.footerLogIn {
    margin: auto;
    margin-bottom: 4px;
    font-size: 15px;
}
